<% provide(:title, 'Users') %>
<div id="user-box" class="box col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">   
    <div class="title">Users</div>

    <%= render 'shared/dashboard', { data: User.stats } %>

    <div class="searchContainer">
        <span class="searchIcon glyphicon glyphicon-search icon-flipped" style="font-size: 18px; 3px 0 0 0px"></span>
        <input data-type="users" type="text" name="index_search" class="input name-input" placeholder="Enter a name, any name" style="height: 30px;"/>
    </div>
    <div class="indexList-header row">
        <%= form_for users_path, html: { id: 'user-index-form' } do |f| %>
            <%= hidden_field_tag 'sort[name]' %>
            <%= hidden_field_tag 'sort[direction]' %>
            <div class="col-sm-1 col-xs-2">
                <%= render 'shared/index_headers/header_sortable', column_name: 'id', title: 'ID' %>
            </div>
            <div class="col-xs-3">
                <%= render 'shared/index_headers/header_sortable', column_name: 'first_name', title: 'Name' %>
            </div>
            <div class="col-sm-3 col-xs-5">
                <%= render 'shared/index_headers/header_sortable', column_name: 'email', title: 'Email' %>
            </div>
            <div class="col-xs-4 hidden-xs">
                <%= render 'shared/index_headers/header_sortable', column_name: 'created_at', title: 'Joined' %>
            </div>
        <% end  %>
    </div>
    <%= render 'user_list' %>
</div>