<% provide(:title, 'Sign In')   %>

<style type="text/css">
    .form-input{
        width: 300px;
    }
</style>

<div id="signInBox" class="box small col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="title">Sign In</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal clearfix', autocomplete: 'off'}) do |f| %>
        <%= render 'shared/error_messages', object: f.object  %>
        <div class="form-group col-xs-12">
            <%= f.label :email, class: 'form-title col-sm-4 col-xs-12', autofocus: true  %>
            <div class="col-sm-7 col-xs-12"> 
                <%= f.email_field :email, class: 'form-input', placeholder: 'bennettlee@gmail.com' %>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <%= f.label :password, class: 'form-title col-sm-4 col-xs-12' %>
            <div class="col-sm-7 col-xs-12"> 
                <%= f.password_field :password, class: 'form-input' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <% if devise_mapping.rememberable? -%>
                    <div><%= f.check_box :remember_me, checked: true %> <%= f.label :remember_me %></div>
                <% end -%>
                <%# link_to "Forgot your password?", new_password_path(resource_name) %><br />
            </div>
        </div>
        <%= f.submit 'Sign In', id: 'sign-in-button', class: 'button update slate', style: 'margin: 0; width: 100%;' %>
    <% end %>
    <% # render "devise/shared/links" %>
</div>